/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	background-color: black;
}

.navbar{
	font-family: 'Inclusive Sans', sans-serif;
}

.nav-link {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}

.nav-link:not(.active):before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ffffff;
	height: 2px;
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.nav-link:hover:before, .nav-link:focus:before, .nav-link:active:before {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.nav-link:hover{
	color: white;
}

.active{
	border-bottom: #ffffff solid 2px;
}


.contact{
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

.conchead h1{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.conchead p{
    font-size: 20px;
    margin-bottom: 5px;
}

.concdet{
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
}

.concdet p{
    margin-bottom: 20px;
}

.linkic{
    width: 15px;
}

footer{
    bottom: 0%;
	--bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
	padding-left: 5px;
	padding-top: 10px;
	text-align: center;
    position: fixed;
    width: 100%;
}

.footer-text{
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
	padding: 3px;
}

.footer-img{
	align-content: center;
	width: 30px;
}