@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Tilt Neon', sans-serif;
}

body{
    background-color: #324f67;
    height: 100%;
    width: 100%;
}

.navb{
    position: fixed;
    background-color: #456980;
    height: 100%;
    float: left;
    z-index: 9999;
} 

.navitem{
    margin-bottom: 3vh;
}

.navl{
    display: block;
    color: white;
    padding: 16px 16px;
    text-decoration: none;
}

.navb i{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0.5vh;
}

.navb p{
    margin-bottom: 0;
    display: none;
}

.act{
    background-color: #1f94b1;
}

.navb a:hover:not(.act) {
    background-color: #1d2d44;
 }

#ColBtn{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.custom-shape-divider-top-1697695962 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

.custom-shape-divider-top-1697695962 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 217px;
}

.custom-shape-divider-top-1697695962 .shape-fill {
    fill: #9fb8c0;
}

.projects{
    margin-top: 6vh;
    padding-left: 15vh;
    font-size: 2.8vh;
}

.intro{
    color: white;
    padding-top: 25vh;
    padding-left: 15vh;
    padding-right: 1vh;
    padding-bottom: 20vh;
    justify-content: center;
    font-size: 3.1vh;
}

.intro h1{
    font-weight: bolder;
}

#dpgif{
    background-color: #9fb8c0;
    height: 45vh;
    float: right;
    border-radius: 100%;
    align-self: center;
}

.card{
    height: 100%;
    width: 80%;
}

.proj-pic{
    height: 100%;
}

.proj-col{
    margin-bottom: 2.5%;
}

.projects-card{
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.proj-content{
    width: 99%;
}

.overlay{
    position: absolute;     
    opacity:0;
    bottom:0;
    right:0;
    top:80%;
    height:0;
  	width:100%;
    overflow: hidden;
    transition: .5s ease;
    background-color: rgba(50, 79, 103, 0.8);
}

.projects-card img{
    transition: transform .2s ease-in;
    display:block;
    width: 100%;
    height: auto;
    opacity: 1; 
}

@media all and (max-width: 400px) {
    .card-text{
        font-size: 12px;
    }
    .card-title{
        font-weight: normal;
    }
}

.card-title{
    font-weight: bold;
}

.projects-card:hover img{
    transform: scale(1.1);
}

.projects-card:hover .overlay{
  top: 0;
  height: 100%;
  opacity:1;
}

.text {
    color: white;
}

.heading{
    color: white;
    margin-bottom: 5vh;
    font-weight: bolder;
}

.langu{
    margin-bottom: 10vh;
}

.code{
    height: 15vh;
    width: 10vh;
    display: block;
}

.code-col{
    padding: 0;
    margin-bottom: 2%;
}

.code-col a{
    text-decoration: none;
}

.contact-wrapper {
    height: fit-content;
    width: 99%;
    padding-left: 15vh;
    margin-bottom: 5%;
    justify-content: center;
    color: white;
}

.contact {
    width: 100%;
}

.name {
    width: 100%;
}

.alert {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 6px 9px;
    width: fit-content;
    margin: 0 0 10px;
    line-height: 1.4;
}

.alert-icon {
    padding: 0 9px 0 0;
}

.alert-text {
    font-size: 14px;
    font-weight: 500;
}

.title {
    font-size: 18px;
}

.req {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
}

.name-input-wrapper {
    display: flex;
    justify-content: left;
    width: 100%;
}

.name-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.first {
    margin-right: 10px;
}

.field {
    width: 100%;
    height: 45px;
    font-size: 18px;
    border: none;
    background-color: white;
    color: black;
    padding: 11px;
    margin-bottom: 10px;
}

.field:not([style*="background-color: white"]):hover {
    opacity: 0.8;
    transition: 0.2s opacity linear;
}

.msg {
    height: 100px;
}

@media (max-width: 300.9px) {
    .contact-wrapper {
        padding: 5% 0;
    }

    .contact {
        width: 100%;
    }

    .form-wrapper {
        padding: 0;
    }
}

@media (max-width: 1120px) {
    .contact {
        width: 90%;
    }
}

.info-link{
    margin: 15% 5%;
}

.info{
    padding-top: 10vh;
}